<!-- 
<div class="h100 full-width flexBetween">

    <div class="sideDiv flex h100">
  
      <div class="centerDiv flex">
        <span>Bem-vindo(a) <br> à advocacia <br> descomplicada.</span>
        <img src="assets/imgs/logo.png" alt="" class="logoimg">
      </div>
  
    </div>
  
    <div class="flex h100 formDiv">
  
      <div class="form">
        <form class="registerForm" (change)="buttonIsAble()" (ngSubmit)="onLogin()" name="loginForm"
        [formGroup]="loginForm">
        <h1 class="h1Forms">Criar uma conta.</h1>

        <div class="inputsRegister">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Digite seu Nome</mat-label>
            <input formControlName="fullName" matInput placeholder="Digite seu nome" required />
            <mat-error *ngIf="!loginForm.controls['doc'].valid">
              Digite um nome válido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Digite seu CPF</mat-label>
            <input class="inputRegister" mask="000.000.000-00" formControlName="doc" matInput placeholder="Digite seu CPF"
              required />
            <mat-error *ngIf="!loginForm.controls['doc'].valid">
              Digite um CPF válido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Digite seu Email</mat-label>
            <input formControlName="email" matInput placeholder="Digite seu Email" required />
            <mat-error *ngIf="!loginForm.controls['doc'].valid">
              Digite um Email válido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Digite sua Senha</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide" tabindex="-1">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              A senha deve conter Maiúsculas, Minúsculas e número.
            </mat-error>
            <br>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirme sua Senha</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide" tabindex="-1">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              A senha deve conter Maiúsculas, Minúsculas e número.
            </mat-error>
            <br>
          </mat-form-field>
  
  
          <div class="checkbox">
            <input (click)="agreeTerm()" class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3c">
              Li e aceito os <a href="#!">Termos de Serviço e Privacidade.</a>
            </label>
          </div>
          <br />
  
          <button
          type="submit"
          class="botaoRegister"
          [disabled]="ableButton"
          (click)="sendToServer()"
          mat-raised-button
            color="primary">Criar Conta</button>
  
          <br />
          <br>
          <span class="goLog">Já tem uma conta ? <a routerLink="/auth">Faça login</a></span>
        </div>
      </form>
      </div>
  
    </div>
  
  
  </div>
   -->

   <div class="register" >

    <div class="art">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-left: 15%;">
            <span style="text-align: initial; color: #fff; font-size: 2rem; line-height: 1.1; margin-bottom: 20px;" >Bem-vindo(a) <br> à advocacia <br> descomplicada.</span>
            <img style="margin-right: 16px;" src="assets/imgs/logo.png" alt="" class="logoimg">
          </div>
    </div>

    <div class="forms">
    
    <form class="form" [formGroup]="registerForms"  >

    <span class="span" >Fazer download do unico.</span>
<!-- 
    <mat-form-field appearance="outline" style="margin-top: 20px;">
        <mat-label>Nome</mat-label>
        <input formControlName="name" type="text" matInput placeholder="João Pedro Silva" required="true" >
        <mat-error *ngIf="!registerForms.controls['name'].valid" >
        Digite um nome válido.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input formControlName="email" type="text" matInput placeholder="joao@gmail.com" >
        <mat-error *ngIf="!registerForms.controls['email'].valid" >
          Digite um email válido.
          </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>CPF</mat-label>
        <input mask="000.000.000-00" formControlName="doc" type="text" matInput placeholder="123.123.123-00" >
        <mat-error *ngIf="!registerForms.controls['doc'].valid" >
          Digite um email válido.
          </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>Senha</mat-label>
        <input formControlName="password" [type]="hidePassword ? 'password' : 'text' " matInput  >
   
        <mat-error *ngIf="!registerForms.controls['password'].valid" >
          Sua senha deve conter número, letra minúscula e maiúscula e ao menos 6 dígitos  .
          </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>Confirmar senha</mat-label>
        <input formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text' " matInput  >
     
        <mat-error *ngIf="!registerForms.controls['confirmPassword'].valid" >
          Sua confirmação de senha deve ser igual a senha.
        </mat-error>
    </mat-form-field>

  <div style="display: flex; align-items: center;">
    <mat-checkbox formControlName="confirmTerms" color="primary" class="example-margin" style="margin-top: 0px;" >Li e concordo com os </mat-checkbox>
    <span href="" (click)="openTerms()" style="color: #0059ff; text-decoration: none; margin-left: 8px; cursor: pointer;">termos de uso</span> 
  </div>
  -->



    <button (click)="initDownload()"  [ngStyle]="{'background-color': !registerForms.valid ? '#0059ff': '#929292dd'}" mat-raised-button style="color: #fff; padding: 4px; font-size: 0.8rem; margin-top: 15px;"  >FAZER DOWNLOAD</button>

    <!-- <mat-spinner class="searchSpinner" *ngIf="isSending" [diameter]="25" style="float: right; margin-top: 16px;"></mat-spinner> -->


    <!-- <span style="margin-top: 32px; color: #0059ff; cursor: pointer;"  >Já tem uma conta? fazer download</span> -->
    </form>


    
    

    </div>

   </div>


   <div class="mobile">
    <span>Olá !</span>
    <span>Detectamos que você está usando um dispositivo</span>
    <span>Mobile</span>
    <span>Para baixar o unico, acesse esse mesmo link por um computador ou notebook !</span>
    <span>Obrigado pela compreensão</span>
   </div>