<div class="sucess">
    <div class="confirmDiv">
        <button mat-icon-button style="float: left;">
        </button>
        <span style="font-size: 2rem; color: #0059ff; margin-bottom: 16px;">Parabéns !</span>
        <span style="font-size: 1.4rem;">Seu cadastro foi realizado com sucesso.</span>
        <span style="font-size: 1.4rem;">Agora é só baixar o Unico no link abaixo e faz parte do futuro da advocacia !</span>

        <button (click)="initDownload()" mat-raised-button class="button" >CLIQUE PARA BAIXAR <mat-icon >
            download
            </mat-icon></button>

    </div>
</div>

<div class="mobile flex">
    <br> <img style="margin-top: 10px; width: 200px;" src="assets/imgs/logo.png" alt="" >
    <img src="assets/imgs/bemvindo.svg" alt="" style="width: 80%;">
    <br>
    <span class="span flex" style="font-size: 2rem; color: #0059ff;" >Bem vindo (a)</span>
 
    <br>
    <span class="flex" style="align-items: center; font-size: 1.5rem; line-height: 1.2;">Enviamos no seu e-mail  </span>
    <span class="flex" style="align-items: center; font-size: 1.5rem; line-height: 1.2;">um link para download e </span>
    <span class="flex" style="align-items: center; font-size: 1.5rem; line-height: 1.2;">instalação do software </span>
    <span class="flex" style="align-items: center; font-size: 1.5rem; line-height: 1.2;">no seu computador</span>
</div>