<div class="sucess">
    <div class="confirmDiv">
        <button mat-icon-button style="float: left;">
        </button>
        <span style="font-size: 2rem; color: #0059ff; margin-bottom: 16px;">Parabéns !</span>
        <span style="font-size: 1.4rem;">Seu cadastro foi realizado com sucesso.</span>
        <span style="font-size: 1.4rem;">Agora é só baixar o Unico no link abaixo e faz parte do futuro da advocacia !</span>

        <button (click)="initDownload()" mat-raised-button class="button" >CLIQUE PARA BAIXAR <mat-icon >
            download
            </mat-icon></button>

    </div>
</div>