<div class="sucess">
    <div class="confirmDiv">
        <button mat-icon-button style="float: left;">
        </button>
        <span style="font-size: 2rem; color: #0059ff; margin-bottom: 16px;">Parabéns !</span>
        <span style="font-size: 1.4rem;">Seu cadastro foi realizado com sucesso.</span>
        <span style="font-size: 1.4rem;">Agora é só baixar o Unico no link abaixo e faz parte do futuro da advocacia !</span>

        <button (click)="initDownload()" mat-raised-button class="button" >CLIQUE PARA BAIXAR <mat-icon >
            download
            </mat-icon></button>

    </div>
</div>

<div class="mobile flex">
    <span style="font-size: 3rem; ">PARABÉNS!</span>
    <br>
    <span class="span flex" style="font-size: 2rem;" >Bem vindo ao  </span>
    <br> <img style="margin-top: 10px; width: 150px;" src="assets/imgs/logo.png" alt="" >
    <br>
    <span class="flex" style="align-items: center; font-size: 1.5rem;">Foi enviado para seu email </span>
    <br> 
    <span class="flex" style="align-items: center; font-size: 1.5rem;">Um link para o download do Unico</span>
</div>